:root {
  --bg-card: #26273b;
  --bg-body: #1b1c30;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --blue: #3b82f6;
  --pink: #ec4899;
  --orange: #f59e0b;
  --border-card: #384152;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:active {
    transform:scale(0.95);
}

button {
    cursor: pointer;
}

body {
    background-color: rgb(27, 28, 48) !important;
}