:root {
  --bg-card: #26273b;
  --bg-body: #1b1c30;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --blue: #3b82f6;
  --pink: #ec4899;
  --orange: #f59e0b;
  --border-card: #384152;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

button:active {
    transform:scale(0.99);
}

button {
    cursor: pointer;
    background-color: var(--blue);
}

body {
    background-color: #1b1c30 !important;
}


/* body {
background-image: radial-gradient(circle at center center, transparent,rgb(15,23,41)),repeating-linear-gradient(135deg, rgb(15,23,41) 0px, rgb(15,23,41) 2px,transparent 2px, transparent 10px,rgb(15,23,41) 10px, rgb(15,23,41) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgba(255,200,0, 0.39) 0px, rgba(255,200,0, 0.39) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(15,23,41),rgb(15,23,41));
} */
