

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  color: var(--text-main);
  
}

/* LEFT */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: 3rem;
  object-fit: contain;
}

.stats {
  display: flex;
  gap: 1.2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.heading h1 {
  font-size: clamp(2.2rem, 4vw, 3.5rem);
  line-height: 1.2;
  margin: 0;
}

.heading h1:last-child {
  color: var(--blue);
}

.subText {
  max-width: 38ch;
  color: var(--text-muted);
  font-size: 1rem;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #26273b;
  border: 1px solid #384152;
  width: min(90%, 26rem);
  padding: 2.5rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card h2 {
  font-size: 1.8rem;
}

.card p {
  color: white;
  font-size: 1.2rem;
}

.card label {
  font-size: 1.3rem;
  color: rgb(136, 136, 156);
}

.card input {
  background-color: rgb(27, 28, 48);
  border: 1px solid #384152; 
  padding: 0.8rem;
  border-radius: 0.6rem;
  color: white;
}



.forgot {
  align-self: flex-end;
  font-size: 0.8rem;
  color: var(--blue);
  cursor: pointer;
}

.primaryBtn {
  background: #FFC400;
  border: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  color: #0f1729;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.divider {
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-muted);
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials button {
  flex: 1;
  background: transparent;
  border: 1px solid #2a2f45;
  padding: 0.6rem;
  border-radius: 0.6rem;
  color: white;
}

.signup {
  font-size: 0.8rem;
  text-align: center;
}

.signup span {
  color: var(--blue);
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
